<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/marketChild.css"/>
    <title>Document</title>
    <style>
        #conatiner{
            width:100%;
            height:100%;
        }


        @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
        button {
            margin: 20px; font-size: 15px;
        }
        .w-btn {
            position: relative;
            border: none;
            display: inline-block;
            padding: 15px 30px;
            border-radius: 15px;
            font-family: "paybooc-Light", sans-serif;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            font-weight: 600;
            transition: 0.25s;
            padding:0px;
            text-align:center;
        }
        .w-btn-outline {
            position: relative;
            padding: 15px 30px;
            border-radius: 15px;
            font-family: "paybooc-Light", sans-serif;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            font-weight: 600;
            transition: 0.25s;
        }
        .w-btn-indigo {
            background-color: aliceblue;
            color: #1e6b7b;
        }
        .w-btn-indigo-outline {
            border: 3px solid aliceblue;
            color: #1e6b7b;
        }
        .w-btn-indigo-outline:hover {
            color: #1e6b7b;
            background: aliceblue;
        }
        .w-btn-green {
            background-color: #77af9c;
            color: #d7fff1;
        }
        .w-btn-green-outline {
            border: 3px solid #77af9c;
            color: darkgray;
        }
        .w-btn-green-outline:hover {
            background-color: #77af9c;
            color: #d7fff1;
        }
        .w-btn:hover {
            letter-spacing: 2px;
            transform: scale(1.2);
            cursor: pointer;
        }
        .w-btn-outline:hover {
            letter-spacing: 2px;
            transform: scale(1.2);
            cursor: pointer;
        }
        .w-btn:active {
            transform: scale(1.5);
        }
        .w-btn-outline:active {
            transform: scale(1.5);
        }
        .w-btn-gra1 {
            background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
            color: white;
        }
        .w-btn-gra2 {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            color: white;
        }
        .w-btn-gra3 {
            background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
            );
            color: white;
        }

    </style>
</head>
<body>
    <input type="hidden" id="ipConfig" value="<%-include('./ipConfig.ejs')%>"/>
    <div id="topLongContainer" class="bg_cont">
        <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
            <a href="<%-include('./ipConfig.ejs')%>/web/introduce"><img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/></a>
            <p>상품 구매</p>
        </div>
    </div>
    
    <div id="container">
        <form method="post" action="<%-include('./ipConfig.ejs')%>/buyProductRequest">
            <p><input type="hidden" name="userId" id="userId" value="<%= datas.userid %>"></p>
            <p><input type="hidden" name="userPassword" id="userPassword" value="<%=datas.userpw %>"></p>
            <p><input type="hidden" name="senderAddress" id="senderAddress" value="<%=datas.senderAddress %>"></p>
            <p><input type="hidden" name="receiverAddress" id="receiverAddress" value="<%=datas.receiverAddress %>"></p>

            <div id="contentsContainer_img">
                <!-- 상품 이미지 가져오기 -->
                <img src="<%=datas.image%>">
            </div>
            <div id="contentsContainer_text">
                <div id="contentsContainer" style="margin-bottom: 20px;">
                    <div id="container_text">
                        <input type="hidden" id="productName" value="<%=datas.productName%>"/>
                        <center style="font-weight: bold"><%=datas.productName%></center>
                    </div>
                </div>
                <div id="contentsContainer">
                    <div id="container_text" style="margin-bottom: 30px;">
                        <center style="width: 400px; margin-bottom: 20px;"><%=datas.description%></center>
                    </div>
                </div>
                <div id="contentsContainer">
                    <div id="container_text" style="margin-bottom: 40px;">
                        <center style="color: #043570;"><input type="text" name="amount" id="amount" style="color: #043570; width: 100px; text-align: center;" value="<%=datas.amount %>" disabled> HSC</center>
                    </div>
                </div>
                
                <!--<input  style="cursor: pointer; width: 100px; margin: auto; margin-top: 50px; margin-bottom: 20px;" id="purchase_btn" type="button" onclick="purchase();" value="구매하기"/></p>-->
                <input class="w-btn w-btn-indigo"  id="purchase_btn" type="button" onclick="purchase();" value="구매하기"/></p>
            </div>
        </form>
    </div>
</body>

<script>
    const ipConfig = document.getElementById("ipConfig").value;
    function purchase(){
        axios({
            method: 'POST',
            url: `${ipConfig}/buyProductRequest`,
            data: {
                userId : document.getElementById("userId").value,
                userPassword: document.getElementById("userPassword").value,
                senderAddress: document.getElementById("senderAddress").value,
                receiverAddress: document.getElementById("receiverAddress").value.substring(0,document.getElementById("receiverAddress").value.length-1),
                amount: document.getElementById("amount").value,
                productName: document.getElementById("productName").value,
            },
        }).then(res => {
        console.log(`res는 ${JSON.stringify(res.data)}`);
        if (res.data['SUCCESS_CODE'] == 100) {
            window.alert("결제가 성공했습니다");
            window.close();
        } else if (res.data['SUCCESS_CODE'] == 200) {
            console.log('송신측 주소 없음');
        } else if (res.data['SUCCESS_CODE'] == 201) {
            window.alert("잔액이 부족합니다");
            window.close();
        } else if (res.data['SUCCESS_CODE'] == 202) {
            console.log('비밀번호 오류');
        }
    });
    }
</script>

</html>