<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/mypage.css"/>



</head>
<body>
    
    <div id="container">
        

        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/>
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="<%-include('./ipConfig.ejs')%>/web/introduce">홈페이지</a>
                <a href="<%-include('./ipConfig.ejs')%>/web/market">제휴 스토어</a>
                <a href="<%-include('./ipConfig.ejs')%>/web/menuList">학습</a>
                <!--<a href="http://220.67.231.91:80/web/mypage" id="mypage">My page</a>-->
            </div>
            <!--topLongContainerInnerRightMenuList 끝-->
        </div>
        <!-- topLongContainer 끝 -->

        <div id="contentsContainer">
            <center><h1>My Page</h1></center>

            <div id="contentContainerTopInfoDesk">
                <video loop muted autoplay width="100%" id="contentContainerTopInfoDesk_Img" height="100%">
                    <source src="/apkimg/MP4_movering.mp4">
                </video>
                
                <!--<img id="contentContainerTopInfoDesk_Img" src="/apkimg/HSC_ring.png">-->
                <div class="contentContainerTopInfoDesk_Text" style="position:relative;">
                    <p id="total_point">Total Point</p>
                    <p id="point"><%= info.balance  %></p>
                </div>
            </div>
            <!-- contentContainerTopInfoDesk 끝 -->

            <div id="solvedQuestionList">

                <ul id="solvedQuestionList_Title">
                    <li><div class="ListInnerTopTitle">영상명</div></li>
                    <li><div class="ListInnerTopTitle">시청중인 구간</div></li>
                    <li><div class="ListInnerTopTitle">획득포인트</div></li>
                    <li><div class="ListInnerTopTitle">시청완료</div></li>
                </ul>
                <!--여기서 이제 진짜 서버에서 넘어온 data들 for loop -->


                <table id="solvedQuestionList_each_question" style="display : none;">
                    <% 
                    if (info.videoLog != "None") {
                        for(let j = 0; j<info.videoLog.length ; j++){ 
                        %>
                        <tr>
                            <td class="tb_left_bd" ><%=info.videoLog[j].videoName%></td>
                            <td class="tb_left2_bd"><%=  parseInt( info.videoLog[j].watchTime / info.videoLog[j].videoTotalLength ) %> %</td>
                            <td class="tb_left3_bd"><%=info.videoLog[j].totalPoint%> / <%= info.videoLog[j].POINT_MAXIMUM %> HSC</td>
                            <td class="tb_left4_bd"> <%=info.videoLog[j].watchComplete ? "완" : "미완" %> </td>
                        </tr>
                    <% 
                        }
                    } else {
                    
                    %>

                        <div id="pleaseLogin" style="width:300px; height:100px; margin: 0 auto; text-align:center; margin-top:10%;">
                            <p>로그인이 필요합니다</p>
                            <input type="button" value="로그인"/>
                        </div>

                    <%
                    }
                    %>
                
                </table>
                
            </div>
            <!--solvedQuestionList 끝-->


        </div>
        <!--contentsContainer-->

    </div>
    <!--container 끝-->

</body>
<script>
    
    localStorage.setItem("balance",document.getElementById("point").innerText);
    
</script>

</html>