
<!DOCTYPE html>
<html lang="en" style="width:1100px; height:700px; margin:0 auto;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        #container{
            width:100%;
            height:100%;
            margin:0 auto;
        }
        #topContainer{
            width: 100%;
            height:90%;

        }
    </style>
    <script>
        window.resizeTo(1100,700);
    </script>
</head>

<!--
<iframe width="560" height="315" src="https://www.youtube.com/embed/IAMdPn3YCG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

-->

<body style="width:100%; height:100%; margin:0 auto;">
    <div id="container">
        <div id="topContainer" >
            <!--<iframe onclick="setRateInterval()" id="videoIframe" width="100%" height="100%" src="<%= datas.videoUrl %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            <!--<iframe onclick="setRateInterval()" id="player" width="100%" height="100%" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            <div id="player"></div>
        </div>
        <input type="hidden" id="watchDate" name="watchDate" value="<%= datas.watchDate %>"/>
        <input type="hidden" id="watchTime" name="watchTime" value="<%= datas.watchTime %>"/>
        <input type="hidden" id="watchComplete" name="watchComplete" value="<%= datas.watchComplete %>"/>
        <input type="hidden" id="videoName" name="videoName" value="<%= datas.videoName %>"/>
        <div id="bottomContainer">
            <input type="button" value="나가기"/>
        </div>
    </div>
    <input type="hidden" id="videoId" value="<%=datas.videoUrl.split('embed')[1].substring(1,datas.videoUrl.split('embed')[1].length)%>"/>
</body>


<script>
    //document.domain = "220.67.231.91";

    var timeCnt = document.getElementById("watchTime").value;
    var data = {
        userId : JSON.parse(localStorage.getItem('UserInfo')).userid,
        videoName : document.getElementById("videoName").value,
        watchDate : document.getElementById("watchDate").value,
        watchTime : timeCnt,
        watchComplete : document.getElementById("watchComplete").value
    };

    var tag = document.createElement('script');

    var vdId = document.getElementById("videoId").value;

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    
    


    
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
        height: '100%',
        width: '100%',
        videoId: vdId+"&",
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
        });
        document.getElementById("player").src = document.getElementById("player").src.replace("&?","&");
        //console.log(player.getIframe());
        //console.log(`player.getDuration() : ${player.getDuration()}`);
        window.tmp_obj = player;
    }

    function onPlayerReady(event) {
        event.target.playVideo();
        console.log(`전체시간 ${tmp_obj.getDuration()}`);
    }

    var done = false;
    function onPlayerStateChange(event) {
        if ( data["watchTime"] < parseInt(player.getCurrentTime()) ){
            console.log(`datawatchTime : ${data["watchTime"]}`);
            //여기까지 해놨다
        }

        if (event.data == YT.PlayerState.PLAYING && !done) {
            setInterval(()=>{
                // 영상이 끝나면 수고하셨습니다 alert뜨고 종료.
                if ( player.getCurrentTime() >= tmp_obj.getDuration() ) {
                    if (window.confirm("고생하셨습니다.창을 닫으시겠습니까?")) {
                        window.close();
                    }
                }

            //여기서 서버로 걍 박으면 되는거 아닌가?
                if ( data["watchTime"] != parseInt(player.getCurrentTime()) ) {
                    data["watchTime"] = parseInt(player.getCurrentTime());
                    console.log(`player.getCurrentTime() : ${player.getCurrentTime()}`);
                    axios({
                        url: 'web/util/saveVideoLog',
                        method: 'POST',
                        baseURL: `http://220.67.231.91:80`,
                        data: Qs.stringify(data)
                    }).then((res) => { // 로그인 성공하면
                        console.log(res);
                        //player.pauseVideo();
                    });
                }
            },3000);

            done = true;
        }
    }

    function stopVideo() {
        
        player.stopVideo();
        //axios 끝
    }

    
</script>

</html>
