<!DOCTYPE html>
<html lang="en" style="height:1700px;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/video.css"/>
    <style>
        .videoSemiContainer{
            width : 100%;
            height : 100%;
        }

        .videoSpace{
            width : 100%;
            height : 100%;
            display:grid;
            grid-template-columns: 33% 33% 33%;
            grid-column-gap: 10px;
            grid-row-gap: 1em;
        }
        .eachVideo{
            margin: 20px;
            border:1px solid black;
        }
    </style>
    <script>
        //document.domain = "220.67.231.91";
        function viewChildPage(element){
            //console.log(element.children[0].innerText);
            /*
            var userId = JSON.parse(localStorage.getItem('UserInfo')).userid;
            var videoName = element.children[1].children[0].innerText;
            var videoUrl = element.children[1].children[3].value;
            
            console.log(userId);
            console.log(videoName);
            console.log(videoUrl);
            
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "http://220.67.231.91:80/web/videoChild");
            form.setAttribute("target", "popup_id");
            
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = "userId";
            input.value = userId;
            form.appendChild(input);
            
            input = document.createElement('input');
            input.type = 'hidden';
            input.name = "videoName";
            input.value = videoName;
            form.appendChild(input);
            
            input = document.createElement('input');
            input.type = 'hidden';
            input.name = "videoUrl";
            input.value = videoUrl;
            form.appendChild(input);
            
            document.body.appendChild(form);
            
            if( /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor) ){
                window.open("http://220.67.231.91:80/web/videoChild", "비디오창","width=800px,height=1200px");
            }else{
                window.open("http://220.67.231.91:80/web/videoChild", "비디오창", "width=800px,height=1200px,resizable=yes,toolbar=yes,menubar=yes,location=yes");
            }
            
            form.submit();
            
            document.body.removeChild(form);
            */
            
            var userId = JSON.parse(localStorage.getItem('UserInfo')).userid;
            var videoName = element.children[1].children[0].innerText;
            var videoUrl = element.children[1].children[3].value;
            var myWindow = window.open(`http://220.67.231.91:80/web/videoChild?userId=${userId}&videoName=${videoName}&videoUrl=${videoUrl}`,"강의창","width=1000px,height=600px");
        }
    </script>

</head>
<body>


    <div id="container">
        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/>
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="http://220.67.231.91:80/web/introduce">홈페이지</a>
                <a href="http://220.67.231.91:80/web/market">제휴 스토어</a>
                <a href="http://220.67.231.91:80/web/menuList" id="learning">학습</a>
                <a href="http://220.67.231.91:80/web/mypage" id="myPage">My page</a>
            </div>
            <!--topLongContainerInnerRightMenuList 끝-->
        </div>
        <!-- topLongContainer 끝 -->

        <div id="contentsContainer">

            <!--문제, 문제집, 채점현황, 강의 메뉴들-->
            <div id="topText">
                <div id="topTextRightMenu">
                    <a href="#">문제집</a>
                    <!--<a href="http://220.67.231.91:80/web/video" id="lecture">강의</a>-->
                </div>
            </div>
            <!--topText 끝-->

            <div id="videoContainer">

                <!-- grid 레이아웃으로 video 정렬하면 될것같은데 -->
                <div class="videoSemiContainer">
                    <!-- 결론적으로 비디오를 받아오면 videoSpace를 for문 돌리게될듯
                    videosemicontainer도 2중 for로 돌릴라나..-->
                    <div class="videoSpace">
                        <% for ( let i=0;i< videoInfo.length ; i++){ %>
                        <div class="eachVideo" onclick="viewChildPage(this);">
                            <!-- 여기에 video 들어가거나 유튜브 링크? -->
                            <img src="https://img.youtube.com/vi/<%=videoInfo[i].videoUrl.split('embed')[1].substring(1,videoInfo[i].videoUrl.split('embed')[1].length)%>/0.jpg" style="width:100%; height:100%;" />
                            <center>
                                <p><%= videoInfo[i].name %></p>
                                
                                <input type="hidden" name="videoLength" value="<%= videoInfo[i].videoLength %>"/>
                                <input type="hidden" name="description" value="<%= videoInfo[i].description %>"/>
                                <input type="hidden" name="manufacturer" value="<%= videoInfo[i].videoUrl %>"/>
                            </center>
                        </div>
                        <!--eachVideo 끝 -->
                        <% } %>
                        
                    </div>
                    <!--videoSpace 끝-->
                </div>
                <!--videoSemiContainer 끝-->
            </div>
            <!-- videoContainer 끝 -->
        </div> 
        <!--contentsContainer 끝-->
    </div>
    <!--container 끝-->

    <footer style="width: 100%;">
        <input type="hidden" name="page" value="<%= page %>"/>
        <input type="hidden" name="totalPage" value="<%= totalPage %>"/>

        <center style="color: black; font-size: 1.5rem;">
            <% if ( page == 1 ) { %>
                
            <% } else { %>
                <a href="http://220.67.231.91:80/web/video/<%= parseInt(page) - 1 %> " style="color : black;"> < </a>
            <% } %>


            <%
            for(var j = 1; j <= totalPage ; j++){
                if (j == page) { %>
                    <a style="padding: 5px; color: black; font-size: 1.5rem; font-weight: bold;" href="http://220.67.231.91:80/web/market/<%= j + 1 %>"><%= j + 1 %></a>
                <% } else { %>
                    <a style="padding: 5px; color: black; font-size: 1.5rem;" href="http://220.67.231.91:80/web/market/<%= j + 1 %>"><%= j + 1 %></a>
                <% } %>
            <%
            }
            %>

            <% if ( totalPage <= page ) { %>
                
            <% } else { %>
                <a href="http://220.67.231.91:80/web/video/<%= parseInt(page) + 1 %> " style="color : black;"> > </a>
            <% } %>

        </center>
    </footer>

</body>
<script>
    document.getElementById("myPage").href = document.getElementById("myPage").href + '/' + `${JSON.parse(localStorage.getItem('UserInfo')).userid}`;
</script>

</html>





