<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/video.css"/>
    <style>
        .videoSemiContainer{
            width : 100%;
            height : 100%;
        }

        .videoSpace{
            width : 100%;
            height : 100%;
            display:grid;
            grid-template-columns: 33% 33% 33%;
            grid-column-gap: 10px;
            grid-row-gap: 1em;
        }
        .eachVideo{
            margin: 20px;
            border:1px solid black;
        }
    </style>
    

</head>
<body>


    <div id="container">
        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/>
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="http://220.67.231.91:80/web/introduce">홈페이지</a>
                <a href="http://220.67.231.91:80/web/market">제휴 스토어</a>
                <a href="http://220.67.231.91:80/web/menuList" id="learning">학습</a>
                <!--<a href="http://220.67.231.91:80/web/mypage">My page</a>-->
            </div>
            <!--topLongContainerInnerRightMenuList 끝-->
        </div>
        <!-- topLongContainer 끝 -->

        <div id="contentsContainer">

            <!--문제, 문제집, 채점현황, 강의 메뉴들-->
            <div id="topText">
                <div id="topTextRightMenu">
                    <a href="#">문제집</a>
                    <!--<a href="http://220.67.231.91:80/web/video" id="lecture">강의</a>-->
                </div>
            </div>
            <!--topText 끝-->

            <div id="videoContainer">

                <!-- grid 레이아웃으로 video 정렬하면 될것같은데 -->
                <div class="videoSemiContainer">
                    <!-- 결론적으로 비디오를 받아오면 videoSpace를 for문 돌리게될듯
                    videosemicontainer도 2중 for로 돌릴라나..-->
                    <div class="videoSpace">
                        <% for ( let i=0;i< videoInfo.length ; i++){ %>
                        <div class="eachVideo" onclick="viewChildPage(this);">
                            <!-- 여기에 video 들어가거나 유튜브 링크? -->
                            <img src="https://storage.googleapis.com/hscoin-d8ff7.appspot.com/test_img1.jpeg?GoogleAccessId=firebase-adminsdk-unmpe%40hscoin-d8ff7.iam.gserviceaccount.com&Expires=1913382000&Signature=sko1Qjgr0C33aLV86%2BYZ4ny1qbfEILl9iaxWyymnXf2nfZHB7G%2FIcf6oSiW2lXLRXRgqo0l7EYWR%2FijTOM1C0bKeMpWwncsNJ0bs3q35EHzgNPmqnIfuAUJ53IF1xGs3Y4wlooLZHqBxT5a0D8jJVPWVjygesWQdykufKFdSnwYGNXVQTsk9PXfVYgDKFIGJ6RVyvibdVA3jgGJvCScrTwX4dV%2B0xMPF%2B%2BRkjUtv%2FhxfG4zPeScNMKxqWFvo83EPy0c3gJ%2BrmgpAcM58QaF5v2swD%2BjSb5hmb4wMTZlks4paNYI%2BTO%2FDb6%2BfskvqDGWDzGtbLrBr4%2B9lg3MA3qzi5g%3D%3D" style="width:100%; height:100%;"/>
                            <center>
                                <p><%= videoInfo[i].name %></p>
                                <!--<p><%=marketInfo[i].description%></p>-->
                                <!--<p><%=marketInfo[i].manufacturer%></p>-->
                                <input type="hidden" name="videoLength" value="<%= videoInfo[i].videoLength %>"/>
                                <input type="hidden" name="description" value="<%= videoInfo[i].description %>"/>
                                <input type="hidden" name="manufacturer" value="<%= videoInfo[i].videoUrl %>"/>
                            </center>
                        </div>
                        <!--eachVideo 끝 -->
                        <% } %>
                        
                    </div>
                    <!--videoSpace 끝-->
                </div>
                <!--videoSemiContainer 끝-->
            </div>
            <!-- videoContainer 끝 -->
        </div> 
        <!--contentsContainer 끝-->
    </div>
    <!--container 끝-->
</body>
</html>