<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/workBookPython.css"/>

</head>
<body>
    <input type="hidden" id="ipConfig" value="<%-include('./ipConfig.ejs')%>"/>
    
    <div id="container">
        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <a href="<%-include('./ipConfig.ejs')%>/web/introduce"><img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/></a>
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="<%-include('./ipConfig.ejs')%>/web/introduce">홈페이지</a>
                <a href="<%-include('./ipConfig.ejs')%>/web/market">제휴 스토어</a>
                <a href="<%-include('./ipConfig.ejs')%>/web/menuList" id="learning">학습</a>
                <a href="<%-include('./ipConfig.ejs')%>/web/mypage" id="myPage">My page</a>
            </div>
            <!--topLongContainerInnerRightMenuList 끝-->
        </div>
        <!-- topLongContainer 끝 -->

        <div id="contentsContainer">

            <!--문제, 문제집, 채점현황, 강의 메뉴들-->
            <div id="topText">
                <div id="topTextRightMenu">
                    <a href="#" id="workbook">문제집</a>
                    <a href="<%-include('./ipConfig.ejs')%>/web/video">강의</a>
                </div>
            </div>
            <!--topText 끝-->

            <div id="workbookContainer">
                <center>
                <div id="menuTitle">
                    <center><p id="number" style="float:left;">번호</p> <p id="title">제목</p> <p id="title">분야</p></center>
                </div>
                </center>
                <!--문제 리스트-->
                <div class="workbookSemiContainer">
                    <table>
                        <% for(var i=0; i<quizInfo.length; i++) { %>
                        <tr>
                            <td>
                                <div id="workbookSpace">
                                    <p id="_number"><%=quizInfo[i].quizNum%></p>
                                    <a id="workbook_div" style="margin-left:30px;" onclick="goToSolution(this)">
                                        <p style="width:100%; margin-right:0px;" id="_title"><%=quizInfo[i].title%></p>
                                    </a>
                                    <p style="display:inline; margin-left:45px;"><%=quizInfo[i].kind%></p>
                                    <!--해결 checkbox 사용자가 체크 못하게-->
                                    <!--<input style="float:right; margin-right:85px;" type="checkbox" name="complete" checked disabled>-->
                                </div>
                                
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>
            <!-- videoContainer 끝 -->
        </div> 
        <!--contentsContainer 끝-->
    </div>
    <!--container 끝-->
</body>

<script>
    const ipConfig = document.getElementById("ipConfig").value;


    function goToSolution(element) {
        try{

        
            var quizNum = element.parentNode.children[0].innerText; // 문제번호
            var userId = JSON.parse(localStorage.getItem('UserInfo')).userid;
            //console.log();
            console.log(` quizNum 찍힌나 ${quizNum}`);
            console.log(` userId 찍힌나 ${userId}`);
            axios({
                url: `${ipConfig}/web/solution/${quizNum}/${userId}`,
                method: 'GET',
                //baseURL: ``,
            }).then((res) => {
                location.href = `${ipConfig}/web/solution/${quizNum}/${userId}`;
                console.log(res);
                //location.href = ``;
            }).catch(error=>{
                console.log(`solution 페이지 가기 실패 ${error}`);
                throw new Error(error);
            })

        }catch (e){
            if (window.confirm("로그인이 되어있지 않습니다")) {
                location.href=`${ipConfig}/web/index`;
            }
        }

    }
</script>
<script>
    document.getElementById("myPage").href = document.getElementById("myPage").href + '/' + `${JSON.parse(localStorage.getItem('UserInfo')).userid}`;
</script>

</html>